.container {
    width: min(100%, 1440px);
    margin: auto;
    border: 10px solid red;
}

header {
    display: flex;
    position: fixed;
    max-width: inherit;
    width: inherit;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 26px calc(120 / 1440 * 100%);
    justify-content: space-between;
    align-items: center;
    background: rgba(64, 33, 1, 0.80);
    backdrop-filter: blur(4px);
    z-index: 100;
    
}
.fa-bars  {
    display: none;
    color: white;
    font-size: 20px;
}

.fa-xmark {
    display: none;
    color: white;
    font-size: 23px;
}

.header_li a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active a {
    color: #D5906E;
}

h1 a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo_span {
    color: #D5906E;
    font-weight: 400;
    margin-left: -7px;

}

h1:hover {
    transform: translateX(20px);
    transition: 0.5s linear;
    transform: scale(1.5);
}

.sing_in a {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fa-cart-shopping {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.fa-cart-shopping:hover {
    transition: 0.5 linear;
    transform: scale(1.5);
}


.header_ul {
    display: flex;
    column-gap: 60px;
}

.sing_in {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

/* cover img  */
.cover {
    background-image: url(../img/cover1.png);
    object-fit: cover;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main_h2 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.main_p {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 750px;
    margin: 16px 0 42px;
}

.main_button {
    display: inline-flex;
    padding: 12px 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #D5906E;
    background-color: transparent;
    outline: none;
}

.main_button_span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

button:hover {
    transition: 0.5 linear;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

/* section1 */

.section1 {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin: 160px 0; 
}

.section1boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    transition: opacity 0.3s ease-in-out;
}

.section1boxes:hover {
    opacity: 0.7;
    transition: 0.5s linear;
}

.section1_h3 {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 144.444% */
}

/* section2  */

.section2 {
    width: 100%;
    height: 902px;
    background: #402101;
    padding: 96px 0;
}


.section2_h4 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    animation: textAnimation 2s infinite;
}

@keyframes textAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.section2_images {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    column-gap: 40px;
}

.section2_box1_img1:hover, .section2_box1_img2:hover, .section2_box1_img3:hover, .section2_box1_img4:hover, .section2_box1_img5:hover {
    transition: 0.2s linear;
    border: 5px white solid;
  
}
.section2_images_box1 {
    width: calc(704 / 1440 * 100%);

}

.section2_images_box2 {
    width: calc(456 / 1440 * 100%);
}

.section2_box1_img1 {
    width: 100%;
    height: 322px;
    margin-bottom: 40px;
}

.section2_box1_img2 {
    width: 47%;
    height: 260px;
}

.section2_box1_img3 {
    width: 47%;
    height: 260px;
}


.section2_images_box1_insaidbox {
    display: flex;
    justify-content: space-between;

}



.section2_box1_img4 {
    width: 100%;
    height: 322px;
    margin-bottom: 40px;
}

.section2_box1_img5 {
    width: 100%;
    height: 260px;
}

/* section3 */

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px calc(52 / 1440 * 100%);
    flex-wrap: wrap;
 
 
}

.section3_h4 {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
    text-align: center;
 
}

.section3_box {
    display: flex;
    align-items: center;
    column-gap: 24px;

}

.section3_cards {
    position: relative;
}

.section3_cards:hover {
    opacity: 0.7;
    transition: 0.5s linear;
}

.section3_cards_p {
    position: absolute;
    display: inline-flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    color: #B53B1B;
    top: 196px;
    left: 16px;
}

.slide_box {
    display: none;
}

/* section 4 */
.section4 {
    background-image: url(../img/Rectangle\ 98.png);
    width: 100%;
    height: 480px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.emailid_label {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.emailid_form {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
}

.emailid_box {
    border-radius: 10px;
    border: 1px solid #FFF;
    display: inline-flex;
    padding-left: 0px;
    justify-content: space-between;
    align-items: center;
}

#emailid {
    padding-left: 19px;
    gap: 205px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #FFF;
}

.emailid_button {
    display: flex;
    height: 56px;
    padding: 17px 25px 17px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    background: #FFF;
    outline: none;
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


/* section5  */
.section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
    margin: 160px 0;
}

.section5_article_div {
    display: flex;
    column-gap: 24px;
}

.section5_article_box {
    display: flex;
    column-gap: 24px;
}

.section5_h3 {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section5_articles {
    display: flex;
    width: 368px;
    padding: 8px 8px 24px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: rgba(213, 144, 110, 0.30);
}

.section5_articles:hover {
    border: 5px solid  rgba(213, 144, 110, 0.30);
}

.section5_article_h3 {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.section5_article_p {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.section5_h6 {
    color: #402101;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}


.section5_button {
    display: inline-flex;
    padding: 12px 52px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #B53B1B;
}

.section5_button_span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* footer  */
footer {
    background-color: #402101;
    padding: 32px calc(120 / 1440 * 100%);
    display: flex;
    justify-content: space-between;
}

.footer_leftbox_p1 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer_leftbox_p{
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px;
}


.footer_mid_p{
    margin: 16px 0 8px ;
}


.footer_leftbox_icons {
    margin-top: 32px;
}

.youtube:hover, .instagram:hover, .facebook:hover {
 scale: 1.5;
 opacity: 0.9;
 transition: 0.5s linear ;
}
.instagram {
    margin-inline: 24px;
}

.footer_right_icons:hover, .leftbox_text:hover {
color: red;
}

.footer_rightbox_texts:hover  {
color: red;
}
.footer_rightbox_texts {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 24px; 
margin-left: 16px;

}
.footer_right_icons {
    color: #FFF;
    font-size: 16px;
    margin-right: 16px;
}
.address_icon {
    margin-left: 24px;
}

.footer_rightbox_mail {
margin: 16px 0;

}


/* ARTWORK CSS STYLES  */

/* Cover  */

.Cover {
    background-image: url(../img/Rectangle\ 107.png);
    object-fit: cover;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.Cover_H2 {
    color: #FFF;
    font-family: 'Inter', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
margin-bottom: 47px;
animation: textAnimation 4s infinite;

}

.Search_Form {
    display: flex;
    height: 56px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    /* width: calc(588 / 1440 * 100%); */

    gap: 239px;
border-radius: 10px;
border: 2px solid #D5906E;
border-right: none;
}

#Search_Input {
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 18px;
    color: #FFF;
}

.Search_Button {
    display: inline-flex;
height: 56px;
padding: 15px 52px 15px 54px;
justify-content: center;
align-items: center;
border-radius: 0px 10px 10px 0px;
background: #D5906E;
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */

}

/*   Section  Artworks_Shop  */

.Artworks_Shop {
    margin: auto;
    padding: 0 50px;
    margin: 160px 0;
}
.Shop_SortBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;

}



.Artworks_Article_Box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.Artworks_box:hover {
transition: 0.2s linear;
opacity: 0.75;
}
.Artworks_box_images {
    width: 100%;

} 
.Short_Button {
display: flex;
width: 160px;
height: 45px;
padding: 8px 21px;
justify-content: space-between;
align-items: center;
border-radius: 5px;
border: 2px solid #B53B1B;
background: #FFF;
color: #402101;
font-family: 'Inter', sans-serif;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 120.833% */
}

.Artworks_Isnidebox {
    display: flex;
    justify-content: space-between;
}
.Artworks_Shop_H2 {
    color: #623932;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
}

.Artworks_box_h3 {
    color: #402101;
    font-family: 'Inter', sans-serif;
margin: 24px 0 16px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 120.833% */
}
.Artworks_Box_P {
    color: #402101;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.fa-cart-plus {
    font-size: 21px;
background-color: rgba(213, 144, 110, 0.30);
    padding: 5px;
}
.fa-cart-plus:hover {
    background-color: red;}

/* CONTACT CSS */
/* COVER  */
.COVER{
    background-image: url(../img/Rectangle\ 108.png);
height: 720px;
}

.CONTACTFORM {

position: absolute;
top: 208px;
left: calc(222 / 1440 * 100%);
display: flex;
flex-direction: column;
width: 500px;
height: 400px;
padding: 24px 30px;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #FFF;
background: rgba(64, 33, 1, 0.73);
box-shadow: -1px -1px 4px 0px #FFF;
}

.CONTACTFORM_insidebox {
    display: flex;
    column-gap: 60px;
    margin-bottom: 40px;
}

.CONTACTFORM_label {
    color: #FFF;
    font-family: 'Inter', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; 
}
#NAME {
    display: flex;
width: 190px;
padding: 11px 116px 12px 8px;
align-items: center;
border-radius: 10px;
border: 2px solid #FFF;
background-color: transparent;
}
#EMAIL {
    display: flex;
width: 190px;
padding: 12px 146px 11px 8px;
align-items: center;
border-radius: 10px;
border: 2px solid #FFF;
background-color: transparent;
}
#MESSAGE {
    display: flex;
width: 440px;
height: 96px;
padding: 8px 372px 71px 8px;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
border: 2px solid #FFF;
background-color: transparent;
}

.CONTACT_FORMBTN {
    display: inline-flex;
    height: 56px;
    padding: 19px 42px 18px 43px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
background: #D5906E;
color: #FFF;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 118.75% */
}

/* CONTACT_section  */

.CONTACT_section {
    background: rgba(213, 144, 110, 0.30);
margin: 160px auto;
width: calc(1200 / 1440 * 100%);
height: 408px;


}

.CONTACT_H3 {
    color: #402101;
    font-family: 'Inter', sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.CONTACT_ARTICLE {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.CONTACT_ARTICLE_BOX {
    margin-left: 20px;
}
.ARTICLE_BOX_DIVS {
    display: flex;
    flex-direction: column;
  
}
.MIDDLE_DIV {
    margin: 32px 0;
}
.ARTICLE_DIV_h4 {
    color: #B53B1B;
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.CONTACT_ARTICLE_P {
    color: #623932;
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 7px;
}
.MAP {
    width: 714px;
height: 320px;
flex-shrink: 0;
}

/* NEW MEDIA  */
@media (max-width: 1320px) {

/* ARTWORKS - SECTION - Artworks_Shop  */
.Artworks_box_nine {
    display: none;
}
.Artworks_box {
    width: 48%;
}
}