@media (max-width: 744px) {
header{
    /* header */
    padding: 9px 24px;
}
.header_nav {
    top: 96px;
}
h1 a{
    display: flex;
    flex-direction: column;
    font-size: 32px;
    line-height: 39px;
    align-items: center;
    line-height: 39px;
}

.logo_span  {
    margin-left: 0;
}

/* main  */

.main_h2 {
    margin-inline:40px;
}

.main_p {
    margin: 8px 0 22px;
}
    /* section2  */

    .section2 {
        padding: 96px 27px;
        flex-wrap: wrap;
        height: 903px;
        overflow-x: scroll;
    }
    .section2_images {
        flex-direction: column;
    } 

    /* pic box */

    .section2_images_box1 {
        width: 100%;
    
    }
    .section2_images_box2 {
        width: 100%;
    }
    .section2_images_box1_insaidbox {
        display: flex;
        flex-direction:column ;
    }

    /* pictures  */

    .section2_box1_img3 {
        width: 100%;
        margin-bottom: 40px;
    }

    .section2_box1_img2 {
        width: 100% ;
        margin-bottom: 40px;
    }


    .section2_box1_img1,.section2_box1_img4  {
       
        margin-bottom: 40px;
    }
     
    
 /* section 5  */

 .section5_article_box {
    flex-direction: column;
    row-gap: 24px;
 }
   }

/* new media  */

@media (max-width: 550px) {
    
    /* section4  */

.emailid_label {
    font-size: 32px;
    line-height: 39px; 
  
    text-align: center;
} 

#emailid {
    padding-left: 10px;
    gap: 0 ;
}
.emailid_button {
    padding: 17px 5px;
}
}